
@{
    ViewData["Title"] = "HappyBirthDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:90px;">
    <h2 class="text-danger">تولد شما مبارک</h2>
    <h5>به مناسبت تولد شما کد تخفیف Happy45267 به ارزش 20 تومان به شما تعلق گرفت</h5>
</div>


