@model Provice
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="bg-light card-header"> شهر های استان @Model.ProvinceName</div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.ProvinceName)</th>
                            <th>
                                <span>نام شهر</span>
                            </th>
                            <th>
                                <span>عملیات</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.City)
                        {
                            <tr>
                                <td>@item.CityName</td>

                                <td>
                                    <a href="/Admin/Books/Details/@item.CityID" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
                                    <a href="/Admin/Books/Edit/@item.CityID" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                    <a href="/Admin/Books/Delete/@item.CityID" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

             </div>

        </div>


    </div>
</div>