@model BookShop.Models.Author

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
     
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

